.left-container{
    background:rgba(100, 0, 0, 0.1);
    width: calc(50vw - 50vh);
    height: 100vh;
}
    
.center-container{
    top: 0;
    width: 100vh;
    height: 100vh;
    background-image: url(/app/resources/image/maps/de_dust2_radar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    
.right-container{
    background:rgba(0, 100, 0, 0.1);
    width: calc(50vw - 50vh);
    height: 100vh;
}

.outerContainer {
    text-align: center;
    position: relative;
    background-color: #ccba7c;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: 2vh;
    display: block;
    padding: 1vh;
}

.item-container {
    text-align: center;
    margin: 1vh;
    padding: 1.5vh;
    position: relative;
    width:fit-content;
    background-color: #413a27;
    border-radius: 10px;
    display: inline-block;
} 
