.draggable {
    display: inline-flex;
    touch-action: none;
    user-select: none;
    position: relative;
    padding: 0.4vh;
    margin: 0.2vh;
    width: 3vh;
    height: 3vh;
    z-index: 3;
}

.draggable:active {
    opacity: .75;
}

.draggable:hover {
    cursor: grab;
    box-shadow: inset 0 0 1.5vh 0.1vh rgba(250,250,250,0.4);
}
