.menu-div{
    position: relative;
    padding: 1vw;
    width: fit-content;
    height: fit-content;
}

#drop-down-map-select{
    position: relative;
}

#drop-down-color-select{
    position: relative;
}

#clear-canvas-button{
    position: relative;
}