@import "./utilities.css";
@import "./chat.css";
@import "./draggable.css";
@import "./menu.css";
@import "./canvas.css";

html {
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
   /* background-image: url(/app/resources/image/maps/de_dust2_radar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #000;*/
    overflow-x: hidden;
    /* overflow: hidden; */
}

h1 {
    width: 10vw;
    margin: 0;
    padding: 1vw;
    color: #FAFAFA;
    font-size: 3vh;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

.h1-div{
    position: relative;
    height:90px; 
    width: fit-content;
    /*position fixed; */
}

#outerContainer {
    position: relative;
    top: 850px;
    background-color: palegoldenrod;
    border-radius: 10px;
    width: 90vw;
}

.container {
    text-align: center;
    margin: 0.5vw;
    margin-left: 2vw;
    padding: 0.5vw;
    position: relative;
    width: 32vw;
    background-color: #333;
    border-radius: 10px;
    display: inline-block;
}

