#canvasDecoy {
    border: 1px solid black;
    margin: 20px;
    cursor:url("/app/resources/image/grenades/Decoy.png"), auto;
}

#canvasFlashbang {
    border: 1px solid black;
    margin: 20px;
    cursor:url("/app/resources/image/grenades/Flashbang.png"), auto;
}

#canvasHeGrenade {
    border: 1px solid black;
    margin: 20px;
    cursor:url("/app/resources/image/grenades/HE-Grenade.png"), auto;
}

#canvasSmoke {
    border: 1px solid black;
    margin: 20px;
    cursor:url("/app/resources/image/grenades/Smoke Grenade.png"), auto;
}

#canvasIncendiary {
    border: 1px solid black;
    margin: 20px;
    cursor:url("/app/resources/image/grenades/Incendiary Grenade.png"), auto;
}

.grenades {
    position: relative;
    width: 5vw;
    height: 5vw;
}

.grenades:active {
    opacity: .75;
}

.grenades:hover {
    cursor: pointer;
}